In [6]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("data/transport/GTFS/gtfs_auckland/stop_times.txt",sep=",", encoding="gbk")
df.drop(columns=df.columns[-4:], axis=1,  inplace=True)
#df = pd.to_datetime(df['departure_time'], format="%H:%M:%S")

In [10]:
df.head(10)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence
0,13154277887-20221005143029_v103.11,20:35:00,20:35:00,5912-20221005143029_v103.11,1
1,13154277887-20221005143029_v103.11,20:36:43,20:36:43,5818-20221005143029_v103.11,2
2,13154277887-20221005143029_v103.11,20:37:17,20:37:17,5820-20221005143029_v103.11,3
3,13154277887-20221005143029_v103.11,20:38:06,20:38:06,5822-20221005143029_v103.11,4
4,13154277887-20221005143029_v103.11,20:38:44,20:38:44,5748-20221005143029_v103.11,5
5,13154277887-20221005143029_v103.11,20:39:19,20:39:19,5450-20221005143029_v103.11,6
6,13154277887-20221005143029_v103.11,20:40:02,20:40:02,5452-20221005143029_v103.11,7
7,13154277887-20221005143029_v103.11,20:41:06,20:41:06,5454-20221005143029_v103.11,8
8,13154277887-20221005143029_v103.11,20:42:00,20:42:00,5458-20221005143029_v103.11,9
9,13154277887-20221005143029_v103.11,20:42:42,20:42:42,5288-20221005143029_v103.11,10

In [15]:
#df2 = df.groupby(['stop_id'])['stop_id'].count().sort_values(ascending=False) 
df2 = df.sort_values(ascending=False, by=['stop_id', 'departure_time'])
pd.DataFrame(df2)
df2.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence
898295,18142252328-20221005143029_v103.11,15:23:49,15:23:49,9976-20221005143029_v103.11,12
533694,18146147061-20221005143029_v103.11,08:27:45,08:27:45,9976-20221005143029_v103.11,12
370497,18142252328-20220929142455_v103.7,15:23:49,15:23:49,9976-20220929142455_v103.7,12
609413,18146147061-20220929142455_v103.7,08:27:45,08:27:45,9976-20220929142455_v103.7,12
898296,18142252328-20221005143029_v103.11,15:25:52,15:25:52,9975-20221005143029_v103.11,13