In [4]:
import numpy as np
import pandas as pd
import osmnx as ox

ModuleNotFoundError: No module named 'osmnx'

In [ ]:
df = pd.read_csv("data/transport/gtfs_auckland/stop_times.txt",sep=",", encoding="gbk")
df.drop(columns=df.columns[-4:], axis=1,  inplace=True)
#df = pd.to_datetime(df['departure_time'], format="%H:%M:%S")

In [3]:
df.head(10)

NameError: name 'df' is not defined

In [15]:
#df2 = df.groupby(['stop_id'])['stop_id'].count().sort_values(ascending=False) 
df2 = df.sort_values(ascending=False, by=['stop_id', 'departure_time'])
pd.DataFrame(df2)
df2.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence
898295,18142252328-20221005143029_v103.11,15:23:49,15:23:49,9976-20221005143029_v103.11,12
533694,18146147061-20221005143029_v103.11,08:27:45,08:27:45,9976-20221005143029_v103.11,12
370497,18142252328-20220929142455_v103.7,15:23:49,15:23:49,9976-20220929142455_v103.7,12
609413,18146147061-20220929142455_v103.7,08:27:45,08:27:45,9976-20220929142455_v103.7,12
898296,18142252328-20221005143029_v103.11,15:25:52,15:25:52,9975-20221005143029_v103.11,13